.container {
    width: 100%; /* Use percentage or vw for flexible width */
    max-width: 1200px; /* Optional, for large screens */
    margin: auto; /* Center the container */
    padding: 20px; /* Padding around the content */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333333;
}

nav {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    font-size: 1.5rem;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}


@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    nav ul li {
        margin: 10px 0; /* Adjust for vertical stacking */
    }
}
p {
    line-height: 1.5;
}

footer {
    margin-top: 20px;
    background-color: #007bff;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}
#title-section {
    background-image: url('stock\ image.jpg');
    height: 25vh;
    margin-bottom: 0vh; /* Adjust or remove if not needed */
    padding-top: 10vh; /* Adjust based on your design */
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}
#title {
    font-size: 5rem; /* Adjust this value as needed */
    margin: 0;
    padding: 0; /* Remove or adjust padding */
    color: white;
}
.content {
    padding-left: 1vh; /* Removes default margin */
    padding-right: 1vh;
}

